<app-header>Parceiros</app-header>
<ion-content>
  <app-responsive>
    <div class="table-responsive">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th class="c2">Razão Social</th>
            <th class="c2">Nome Fantasia</th>
            <th class="c1">CNPJ</th>
            <th>Telefone</th>
            <th>Email</th>
            <th class="c2">Produto/Servico</th>
            <th class="c3">Observações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let partner of partners">
            <td>{{ partner.id }}</td>
            <td class="c2">{{ partner.registeredName }}</td>
            <td class="c2">{{ partner.tradingName }}</td>
            <td class="c1">{{ partner.taxPayerRegistration }}</td>
            <td>{{ partner.phoneNumber }}</td>
            <td>{{ partner.email }}</td>
            <td class="c2">{{ partner.productService }}</td>
            <td class="c3">{{ partner.comments }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-responsive>
</ion-content>