<div class="container navbar">
  <div class="logo">
    <ion-img src="/assets/icons/logo.png"></ion-img>
  </div>
  <div class="toolbar">
    <div class="items">
      <!-- <div class="item">{{ 'home.navbar.home' | translate }}</div>
        <div class="item">{{ 'home.navbar.about' | translate }}</div> -->
      <div class="item" (click)="scrollTo('features')">{{ 'home.navbar.features' | translate }}</div>
      <div class="item" (click)="openWhitepaper()">{{ 'home.navbar.whitepaper' | translate }}</div>
    </div>
    <div class="actions">
      <div class="action ion-activatable" (click)="openTelegram()">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/svgs/telegram.svg"></ion-img>
        Telegram
      </div>
    </div>
    <div class="flags">
      <div class="flag ion-activatable" [class.selected]="selectedLanguage === 'pt-br'" (click)="setLanguage('pt-br')">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/svgs/flag_br.svg"></ion-img>
      </div>
      <div class="flag ion-activatable" [class.selected]="selectedLanguage === 'en'" (click)="setLanguage('en')">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/svgs/flag_us.svg"></ion-img>
      </div>
    </div>
    <div class="hamburguer">
      <div class="button" (click)="openHamburguer()">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
    </div>
  </div>
</div>
<ion-content #content>
  <section class="first">
    <div class="particles" id="particles-js"></div>
    <div class="content">
      <div class="info">
        <div class="text">
          <h2>{{ 'home.header.title' | translate }}</h2>
          <p>{{ 'home.header.subtitle' | translate }}</p>
        </div>
        <div class="contract">
          <h2>{{ 'home.header.contract' | translate }} (Binance Smart Chain BSC)</h2>
          <div class="copy">
            <div class="value">
              <span class="full">{{ constractAddress }}</span>
              <span class="short">{{ constractAddress | address: 12 }}</span>
            </div>
            <div class="icon ion-activatable" (click)="copyAddress()">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="copy-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <ion-img src="/assets/images/home_header.png"></ion-img>
      </div>
    </div>
  </section>
  <app-features></app-features>
</ion-content>