<div class="container navbar">
  <div class="logo">
    <ion-img src="/assets/icons/logo.png"></ion-img>
  </div>
  <div class="toolbar">
    <div class="items">
      <div class="item">Início</div>
      <div class="item">Funcionalidades</div>
      <div class="item">Sobre</div>
      <div class="item">Whitepaper</div>
    </div>
    <div class="actions">
      <div class="action ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/svgs/telegram.svg"></ion-img>
        Telegram
      </div>
    </div>
    <div class="flags">
      <div class="flag ion-activatable selected">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/svgs/flag_br.svg"></ion-img>
      </div>
      <div class="flag ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/svgs/flag_us.svg"></ion-img>
      </div>
    </div>
    <div class="hamburguer">
      <div class="button" (click)="openHamburguer()">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
    </div>
  </div>
</div>
<ion-content>
  <div class="container">
    <div class="header">
      <div class="info">
        <div class="text">
          <h2>Invista em imóveis dentro de um ativo digital inteligente.</h2>
          <p>Pagando dividendos durante o hold, com lastro e valorização baseadas em um dos fundos mais seguros e rentáveis do mercado</p>
        </div>
        <div class="contract">
          <h2>Contrato (Binance Smart Chain BSC)</h2>
          <div class="copy">
            <div class="value">0xc78fEABea35EB17CcCd7bDb5A1d2478b19be03c3</div>
            <div class="icon ion-activatable">
              <ion-ripple-effect></ion-ripple-effect>
              <ion-icon name="copy-outline"></ion-icon>
            </div>
          </div>
        </div>
      </div>
      <div class="image">
        <ion-img src="/assets/images/home_header.png"></ion-img>
      </div>
    </div>
  </div>
</ion-content>