<div class="container navbar">
  <div class="logo">
    <ion-img src="/assets/icons/logo.png"></ion-img>
  </div>
  <div class="toolbar">
    <div class="items">
      <div class="item">Início</div>
      <div class="item">Funcionalidades</div>
      <div class="item">Sobre</div>
      <div class="item">Whitepaper</div>
      <div class="item">Idioma</div>
      <!-- <div class="item">BDF Token</div> -->
      <!-- <div class="item">Telegram</div> -->
    </div>
    <div class="actions">
      <div class="action ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/svgs/telegram.svg"></ion-img>
        Telegram
      </div>
    </div>
    <div class="flags">
      <div class="flag ion-activatable selected">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/svgs/flag_br.svg"></ion-img>
      </div>
      <div class="flag ion-activatable">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-img src="/assets/svgs/flag_us.svg"></ion-img>
      </div>
    </div>
    <div class="hamburguer">
      <div class="button">
        <ion-icon name="menu-outline"></ion-icon>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="header">
    <h2>Invista em imóveis dentro de um ativo digital inteligente.</h2>
    Pagando dividendos durante o hold, com lastro e valorização baseadas em um dos fundos mais seguros e rentáveis do mercado
  </div>
</div>