<div class="medias">
  <div class="media" (click)="openInstagram()">
    <img src="/assets/images/instagram.png">
  </div>
  <div class="media" (click)="openTelegram()">
    <img src="/assets/svgs/telegram.svg">
  </div>
  <div class="media" (click)="openTwitter()">
    <img src="/assets/svgs/twitter.svg">
  </div>
  <div class="media" (click)="openLinkedIn()">
    <img src="/assets/svgs/linkedin.svg">
  </div>
</div>
<div class="container hashtag">
  <h2>{{ 'footer.title' | translate }}</h2>
  <p>{{ 'footer.description' | translate }}</p>
  <p>{{ 'footer.description2' | translate }}</p>
</div>