<div class="particles" id="particles2"></div>

<h2>Roadmap</h2>

<ion-slides pager="true" scrollbar="true" [options]="opts">
  <ion-slide>
    <h2>Q1/2022</h2>
    <ul>
      <li>{{ 'roadmap.list1.item1' | translate }}</li>
      <li>{{ 'roadmap.list1.item2' | translate }}</li>
      <li>{{ 'roadmap.list1.item3' | translate }}</li>
      <li>{{ 'roadmap.list1.item4' | translate }}</li>
      <li>{{ 'roadmap.list1.item5' | translate }}</li>
      <li>{{ 'roadmap.list1.item6' | translate }}</li>
      <li>{{ 'roadmap.list1.item7' | translate }}</li>
      <li>{{ 'roadmap.list1.item8' | translate }}</li>
    </ul>
  </ion-slide>
  <ion-slide>
    <h2>Q2/2022</h2>
    <ul>
      <li>{{ 'roadmap.list2.item1' | translate }}</li>
      <li>{{ 'roadmap.list2.item2' | translate }}</li>
      <li>{{ 'roadmap.list2.item3' | translate }}</li>
      <li>{{ 'roadmap.list2.item4' | translate }}</li>
      <li>{{ 'roadmap.list2.item5' | translate }}</li>
      <li>{{ 'roadmap.list2.item6' | translate }}</li>
      <li>{{ 'roadmap.list2.item7' | translate }}</li>
    </ul>
  </ion-slide>
  <ion-slide>
    <h2>Q3/2022</h2>
    <ul>
      <li>{{ 'roadmap.list3.item1' | translate }}</li>
      <li>{{ 'roadmap.list3.item2' | translate }}</li>
      <li>{{ 'roadmap.list3.item3' | translate }}</li>
      <li>{{ 'roadmap.list3.item4' | translate }}</li>
      <li>{{ 'roadmap.list3.item5' | translate }}</li>
      <li>{{ 'roadmap.list3.item6' | translate }}</li>
    </ul>
  </ion-slide>
  <ion-slide>
    <h2>Q4/2022</h2>
    <ul>
      <li>{{ 'roadmap.list4.item1' | translate }}</li>
      <li>{{ 'roadmap.list4.item2' | translate }}</li>
      <li>{{ 'roadmap.list4.item3' | translate }}</li>
      <li>{{ 'roadmap.list4.item4' | translate }}</li>
      <li>{{ 'roadmap.list4.item5' | translate }}</li>
      <li>{{ 'roadmap.list4.item6' | translate }}</li>
      <li>{{ 'roadmap.list4.item7' | translate }}</li>
      <li>{{ 'roadmap.list4.item8' | translate }}</li>
      <li>{{ 'roadmap.list4.item9' | translate }}</li>
      <li>{{ 'roadmap.list4.item10' | translate }}</li>
    </ul>
  </ion-slide>
  <ion-slide>
    <h2>Q1/2023</h2>
    <ul>
      <li>{{ 'roadmap.list5.item1' | translate }}</li>
      <li>{{ 'roadmap.list5.item2' | translate }}</li>
      <li>{{ 'roadmap.list5.item3' | translate }}</li>
      <li>{{ 'roadmap.list5.item4' | translate }}</li>
      <li>{{ 'roadmap.list5.item5' | translate }}</li>
      <li>{{ 'roadmap.list5.item6' | translate }}</li>
    </ul>
  </ion-slide>
  <ion-slide>
    <h2>Q2/2023</h2>
    <ul>
      <li>{{ 'roadmap.list6.item1' | translate }}</li>
      <li>{{ 'roadmap.list6.item2' | translate }}</li>
      <li>{{ 'roadmap.list6.item3' | translate }}</li>
      <li>{{ 'roadmap.list6.item4' | translate }}</li>
      <li>{{ 'roadmap.list6.item5' | translate }}</li>
    </ul>
  </ion-slide>
  <ion-slide>
    <h2>Q3/2023</h2>
    <ul>
      <li>{{ 'roadmap.list7.item1' | translate }}</li>
      <li>{{ 'roadmap.list7.item2' | translate }}</li>
      <li>{{ 'roadmap.list7.item3' | translate }}</li>
    </ul>
  </ion-slide>
</ion-slides>