<h2>Roadmap</h2>

<div class="items">
  <div class="item">
    <h2>Q2/2022</h2>
    <ul>
      <li>{{ 'roadmap.list1.item1' | translate }}</li>
      <li>{{ 'roadmap.list1.item2' | translate }}</li>
      <li>{{ 'roadmap.list1.item3' | translate }}</li>
      <li>{{ 'roadmap.list1.item4' | translate }}</li>
      <li>{{ 'roadmap.list1.item5' | translate }}</li>
      <li>{{ 'roadmap.list1.item6' | translate }}</li>
      <li>{{ 'roadmap.list1.item7' | translate }}</li>
      <li>{{ 'roadmap.list1.item8' | translate }}</li>
      <li>{{ 'roadmap.list1.item9' | translate }}</li>
      <li>{{ 'roadmap.list1.item10' | translate }}</li>
    </ul>
  </div>
  <div class="item">
    <h2>Q3/2022</h2>
    <ul>
      <li>{{ 'roadmap.list2.item1' | translate }}</li>
      <li>{{ 'roadmap.list2.item2' | translate }}</li>
      <li>{{ 'roadmap.list2.item3' | translate }}</li>
      <li>{{ 'roadmap.list2.item4' | translate }}</li>
      <li>{{ 'roadmap.list2.item5' | translate }}</li>
      <li>{{ 'roadmap.list2.item6' | translate }}</li>
    </ul>
  </div>
  <div class="item">
    <h2>Q4/2022</h2>
    <ul>
      <li>{{ 'roadmap.list3.item1' | translate }}</li>
      <li>{{ 'roadmap.list3.item2' | translate }}</li>
      <li>{{ 'roadmap.list3.item3' | translate }}</li>
      <li>{{ 'roadmap.list3.item4' | translate }}</li>
      <li>{{ 'roadmap.list3.item5' | translate }}</li>
    </ul>
  </div>
  <div class="item">
    <h2>Q1/2023</h2>
    <ul>
      <li>{{ 'roadmap.list4.item1' | translate }}</li>
      <li>{{ 'roadmap.list4.item2' | translate }}</li>
      <li>{{ 'roadmap.list4.item3' | translate }}</li>
    </ul>
  </div>
</div>