<ion-header>
  <ion-toolbar>
    <ion-title>{{ 'partners.become.title' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-padding">
    <h2>{{ 'partners.become.description' | translate }}</h2>
    <p>{{ 'partners.become.message' | translate }}</p>

    <form [formGroup]="form">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">Razão Social*</ion-label>
          <ion-input type="text" formControlName="registeredName"></ion-input>
          <small *ngIf="form.controls.registeredName.errors?.required">Esse campo é obrigatório</small>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Nome Fantasia*</ion-label>
          <ion-input type="text" formControlName="tradingName"></ion-input>
          <small *ngIf="form.controls.tradingName.errors?.required">Esse campo é obrigatório</small>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">CNPJ*</ion-label>
          <ion-input type="text" inputmode="numeric" (ionInput)="changeTaxPayerRegistration($event)" formControlName="taxPayerRegistration"></ion-input>
          <small *ngIf="form.controls.taxPayerRegistration.errors?.required">Esse campo é obrigatório</small>
          <small *ngIf="form.controls.taxPayerRegistration.errors?.pattern">Esse campo está inválido</small>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Telefone (Whatsapp)*</ion-label>
          <ion-input type="text" inputmode="numeric" (ionInput)="changePhoneNumber($event)" formControlName="phoneNumber"></ion-input>
          <small *ngIf="form.controls.phoneNumber.errors?.required">Esse campo é obrigatório</small>
          <small *ngIf="form.controls.phoneNumber.errors?.email">Esse campo está inválido</small>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Email*</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
          <small *ngIf="form.controls.email.errors?.required">Esse campo é obrigatório</small>
          <small *ngIf="form.controls.email.errors?.email">Esse campo está inválido</small>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Produto/Servico*</ion-label>
          <ion-input type="text" formControlName="productService"></ion-input>
          <small *ngIf="form.controls.productService.errors?.required">Esse campo é obrigatório</small>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Observações*</ion-label>
          <ion-textarea type="text" rows="3" formControlName="comments"></ion-textarea>
          <small *ngIf="form.controls.comments.errors?.required">Esse campo é obrigatório</small>
        </ion-item>
      </ion-list>
      <div class="ion-padding-top">
        <ion-button expand="block" (click)="submit()" [disabled]="form.invalid">
          <ion-icon name="send-outline" slot="start"></ion-icon>
          Enviar
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>