<div class="container">
  <div class="item">
    <div class="image">
      <img src="/assets/images/about-1.jpg"/>
    </div>
    <div class="text">
      <h2>{{ 'about.us.title' | translate }}</h2>
      <p>{{ 'about.us.description' | translate }}</p>
    </div>
  </div>
  <div class="item">
    <div class="text">
      <h2>{{ 'about.motivation.title' | translate }}</h2>
      <p>{{ 'about.motivation.description' | translate }}</p>
    </div>
    <div class="image">
      <img src="/assets/images/about-2.jpg"/>
    </div>
  </div>
  <div class="item">
    <div class="image">
      <img src="/assets/images/about-3.png"/>
    </div>
    <div class="text">
      <h2>{{ 'about.mission.title' | translate }}</h2>
      <p>{{ 'about.mission.description' | translate }}</p>
    </div>
  </div>
</div>